{% extends 'base.html' %}
{% block title %}HOME{% endblock title %}

{% block body %}
<div class="container-fluid my-3">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel ">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/x.jpg" class="d-block w-100" alt="..." height="400px">
      <div class="carousel-caption d-none d-md-block">
        <h5>We are for you</h5>
        <p>secure,safe,quick.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/y.jpg" class="d-block w-100" alt="..." height="400px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/z.jpg" class="d-block w-100" alt="..."height="400px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
  
</div>
<div class="container"> <div class="row">
    <div class="col-4"><div class="container my-3">
<div class="card" style="width: 18rem;">
  <img src="static/v.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Siri</h5>
    <p class="card-text">.Founder<br>
    .Manager</p>
    
  </div></div>
    <div class="col-5"><p class="lead">
  Vivamus sagittis lacus vel augue laoreet ru.
</p>
</div></div>
  </div>
</div>

</div>


{% endblock body %}

